{{template "base" .}}

{{define "content"}}
    <div class="container">
        <h1>Welcome to My Database Table Management System</h1>
        <div class="list-group">
            <a href="/users" class="list-group-item list-group-item-action">Users</a>
            <a href="/assignments" class="list-group-item list-group-item-action">Assignments</a>
            <a href="/cars" class="list-group-item list-group-item-action">Cars</a>
            <a href="/rents" class="list-group-item list-group-item-action">Rents</a>
            <a href="/assignments-junction" class="list-group-item list-group-item-action">Assignments_Junction</a>
            <a href="/queries" class="list-group-item list-group-item-action">Queries</a>
        </div>
    </div>
{{end}}


